body{
    margin: 0;
    height: 100vh;
    background-color : #f0f0f7;
}

#sidebar{
    display: flex;
    justify-content: flex-start;
    width:260px;
    height: 100vh;
    background-color: #43425d;
}

#possible{
  width: 260px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}

#possible p{
  position: absolute;
  top: 25px;
  left: 20px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: bold;  
  color: #fff; 
}

#tab{
  width: 260px;
  margin: 0;
  padding:0;
  list-style: none;
  background:  #43425d;
}

#tab li  {
    margin-top: 6px;
    color: #fff;
    text-decoration: none;
    width: 260px;
    height: 53px;
    font-size: 15px;
}

#tab div{
  position: relative;
  top: 16px;
  left: 52px;

}

#tab :hover  {
    background-color: rgba(0, 0, 0, 0.1);
  }

.active {
  background-color: rgba(0, 0, 0, 0.1);
}

/*#activeBar{
  
}*/

#inboxName{
  position: absolute;
  top: 80px;
  left: 345px;
  font-size: 28px;
  color: #4d4f5c;
}

#inbox{
    position: absolute;
    left: 345px;
    bottom: 40px;
    width: 1170px;
    height: 752px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
}

#compose{
  position: relative;
  top: 22px;
  left: 23px;
  display: table-cell;
  width: 155px;
  height: 35px;
  border-radius: 4px;
  background-color: #3b86ff;
  font-size: 15px;
  text-align: center;
  vertical-align: middle; 
  color: #ffffff;
}

#sidemenu{
    position: absolute;
    top: 80px;
    width: 200px;
    height: 752px;
    box-shadow: 0px -2px 6px  rgba(0, 0, 0, 0.04);
}

#menus{ 
  position: relative;
  left: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 13px;
  color: #4d4f5c;
}

#menus li{  
  margin-top: 16px;
  text-decoration: none;
}

#tag{
  margin-top: 50px;
  padding: 0;
  list-style-type: none;
  font-size: 13px;
  color :#4d4f5c;
}

#tag li{
  margin-top: 16px;
}

#Tag{
  position: relative;
  top: 0px;
  left: 15px;
  margin-top: 16px;
  font-weight: bold;
  color: #4d4f5c;
}

.tagkind{     /*js이용해서 붙일수도 있을듯*/
  position: absolute;
  left: 23px;
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
/*class로 하도록 지향(tagName 클래스 )*/
#Sales{background-color: #a3a0fb;}
#Marketing{background-color: #3b86ff; }
#Design{background-color: #ff6565;}
#FrontEnd{background-color: #7865ff;}

.tags{
  position: absolute;
  left: 46px;
}

.count{
  position: relative;
  left: 171px;
}

#search{
  position: absolute;
  left: 200px;
  top: 0px;
  width: 300px;
  height: 80px;
}

#userList{
  position: absolute;
  top: 80px;
  left: 200px;
  width: 300px;
  height: 657px;
}

#list{
  padding: 0px;
  margin: 0px;
}

#list li {
  width: 300px;
  height: 80px;
  list-style: none;
  padding: 0px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
}

#list :hover{
  background-color: #f0f0f7
}

/*.barTag{
  display: inline-block;
  width: 3px;
  height: 80px;
  background-color: #ff6565;
}*/

.userprvicon{
  display: inline-block;
  position: relative;
  top: 19.7px;
  left: 23px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
#DavidJames{  background-color:#3b86ff;}
#TonyStark{ background-color: #7865ff;}

.userprvName{
  display: inline-block;
  position: relative;
  left: 23px;
  font-size: 13px;
  font-weight: bold; 
  color: #4d4f5c; 
}

.userprvContent{
 display: inline-block;
  position: relative;
  left:70px;
  
  font-size: 11px;
  color: #43425d;
}


#mainText{
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  border-left:1px solid #f0f0f7;
  width: 670px;
  height:752px;
}

#nameBox{
  width: 670px;
  height:143.3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
}

#mailTitle{
  position: absolute;
  top: 29px;
  left: 125px;
  font-size: 18px;
  color:#4d4f5c;
}

.tagName{
  position: relative;
  display: table-cell;
  top: 30px;
  left: 38px;
  width: 75px;
  height: 24px;
  border-radius: 14px;
  text-align: center;
  vertical-align: middle; 
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;  
}

#usericon{
  display: inline-block;
  position: absolute;
  top: 73px;
  left: 38px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color:#3b86ff;
}

#userName{
  position: absolute;
  left: 85px;
  top: 73px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
  color: #4d4f5c; 
}

/*#reception{
  position: absolute;
  margin: 0;
  padding: 0;
}*/

#mailDate{
  position: absolute;
  right: 32px;
  top:75px;
  color:#43425d;
  font-size: 11px;
  
}

#contentBox{
   height: 608.7px;
  width: 670px; 

}

#content{
  color: #4d4f5c;
  margin-top: 32.7px;
  margin-left: 38px; 
  margin-right: 32px;
}
